body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 10px;
}
#movs{
  background-color: skyblue;
  border:0px;
  border-radius: 8px;
  color: darkcyan;
  padding: 8px;
  margin-top: 12px;
  min-width: 100%;
}
.square {
  background: #fff;
  border: 1px solid #999;
  border-radius: 8px;  
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: skyblue;
}
#Status{
  font-size: 18px;
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25%;
}

.game-info {
  margin-left: 20px;
}
